<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../addEvent.css">
    <link rel="stylesheet" type="text/css" href="../samdes.css">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" type="text/css" href="/Login.css" />
    <script src="https://kit.fontawesome.com/0ee1a0b888.js"></script>
    <title>Add Event</title>
    <style>
        .list_group_itemnew {
            height: 210px;
            margin-left: 480px;
            background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
            width: 60%;
            margin-top: 20px;
            color: gray;
            border-radius: 10px;
        }

        .list_group22 p {
            margin-top: 25px;
            font-size: 15px;
        }

        .list_group22 p :first-child {
            margin-top: 15px;
        }

        .divCOver {
            margin-left: 300px;
            margin-top: 190px;
        }

        .nav___ {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: .1rem;
            background: rgba(0, 0, 0, 0.6);
            z-index: 12 !important;
        }

        .branddy {
            color: white;
            position: relative;
            left: 20px;
        }

        .kujack {
            display: block;
        }
    </style>
</head>

<body>


    <div class="adminDashboardLogo"> Admin Dashboard</div>

    <div class="eee awesome" style="z-index: 100;">ekodiary</div>

    <div class="bodyCover1">
        <% for (let i = 0; i < result.length; i++) { %>
        <div class="list_group_item">
            <img class="incumImg" src="<%- result[i].postImage %>" alt="image">
            <ul class="ul_0">
                <li><%- result[i].writeup %></li>
                <li><%- result[i].date %></li>
                <li><%- result[i].time %></li>
                <li><%- result[i].location %></li>
            </ul>
            <ul class="ul_1">
                <li>
                    <form action="/updatefeatured" method="Post">
                        <input type="hidden" name="id" value="<%- result[i]._id %>">
                        <input type="submit" class="buttonono"
                            style="background-color: <%= result[i].featured === true ? '#ff3f34' : '' %>"
                            value="Featured">
                    </form>
                </li>

                <li>
                    <form action="/updatenonfeatured" method="Post">
                        <input type="hidden" name="id" value="<%- result[i]._id %>">
                        <input type="submit" class="buttonono" style=" background-color:
                            <%= result[i].nonfeatured === true ? '#ff3f34' : '' %>" value="nonFeatured">
                    </form>
                </li>
                <li>
                    <form action="/deleteEvent?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="<%- result[i]._id %>">
                        <input type="hidden" name="publicid" value="<%- result[i].publicid %>">
                        <input id="delete" onclick="deleteData()" type="submit" class="buttonono" value="delete">
                    </form>
                </li>
            </ul>
        </div>
        <% } %>
    </div>






    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        function deleteData() {
            swal({
                title: "Confirm?",
                text: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirm",
                cancelButtonText: "Back"
            }
            ).then(
                function (isConfirm) {
                    if (isConfirm) {
                        document.myform.submit()
                    }
                },
                function () {
                    console.log('BACK');
                }
            );
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="/testDashboard.js"></script>
    <script src="/indexDashboard.js"></script>



</body>

</html>