<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0ee1a0b888.js"></script>
    <link rel="stylesheet" href="../samdes.css">
    <link rel="stylesheet" href="../Login.css">
    <link rel="stylesheet" href="../addEvent.css">

    <title>Document</title>
    <style>
        .backarrow {
            color: #2f3640;
            font-size: 30px;
        }

        .backarrowA {
            position: absolute;
            top: 90px;
            left: 30px;
            color: #2f3640;
            text-decoration: none;
        }

        .backarrowA:hover {
            color: #0097e6
        }
    </style>
</head>

<body>
    <a class="backarrowA" href="/">
        <i class="fas fa-long-arrow-alt-left backarrow"> </i></a>
    <div class="eee awesome">ekodiary</div>
    <div id="intro">
        <div class="tt0">
            <form action="/login/<%=role%>" method="POST" id="form0">
                <div class="LoginLogo">
                    Login
                </div>
                <div class="inner" style="top: 190px;">
                    <input style="color: #2d3436;" type="email" id="email" name="email" class="form-control input1"
                        placeholder="Email">
                    <input style="color: #2d3436;" type="password" id="password" name="password"
                        class="form-control input1" placeholder="Password">
                    <button type="submit" style="border: 1px solid gray; color: #2d3436;"
                        class="button bS ovE">Login</button>
                </div>
                <div id="img21" style="width: 50px; height: 50px;"> </div>
            </form>
            <p class="lead">
                No Account? <a href="/register">Register</a>
            </p>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        if ("<%=wrongPassword[0]%>") {
            swal("<%=wrongPassword[0]%>");
        }
        if ("<%=loginError[0]%>") {
            swal("<%=loginError[0]%>");
        }

    </script>
</body>

</html>